nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}


.logo
{
    max-width:70px;
}



#indexsection .card
{
    margin-bottom:40px;
}


.newcaseform .form-control
{
    margin:10px;
}

.newcaseform  .form-control
{
    width:100%;
}

.familyinfocard
{
    margin-bottom:20px;
    padding: 15px;
}

.textarea
{
    height:200px;
    overflow-y:scroll;
}


@media print {
.removewhenprint
{
    display: none;

}
}

.navbarAccountIcon
{
    color: #5f5c57;
    font-size: 30px;
    margin-left: 15px;
    
}

.navbar .dropdown-menu
{
    right: 0;
}

.dropdown-item
{
    text-align: center;
}

.flashmessage
{
    width: 100%;
    color: white;
    background: #5bafa0;
    padding: 10px;
    font-family: cairo;
    font-weight: bold;
    text-align: center;
}

.submittt 
{
    display: table;
    margin: auto;
}

#customFile
{
    height: 45px;
}
.textareaClass
{
    white-space: pre-wrap;

}