{% extends "inhouse/layout.html" %}

{% block title %}
الصفحة الرئيسية
{% endblock %}

{% block main %}
{% if message %}
<div class="flashmessage">{{message}}</div>
<br>
{% endif %}    
<form action="{% url 'query' %}" method="post">
  {% csrf_token %} 
  <div class="form-group newcaseform" dir="rtl">
      <div class="row justify-content-center">
          <div class="col-sm-6">
    <input class="form-control" name="nationalid" id="exampleFormControlInput1" placeholder="ادخل الرقم القومي او رقم الهاتف او كود الطلب">
        <input id="newcaseId" type="submit" class="btn btn-primary" value="إستعلم">
        </div>
     </div>
  </div>
</form>

<section id="indexsection">
<div class="container">
<div dir="rtl" class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">تسجيل حالة إنسانية جديدة</h5>
            <p class="card-text">من هنا يمكنك تسجيل حالة إنسانية او شكوى جديدة</p>
            <a href="{% url 'newcase' %}" class="btn btn-primary">سجل الحالة</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">تقديم طلب توظيف</h5>
            <p class="card-text">من هنا يمكنك تسجيل معلومات الباحثين عن وظائف</p>
            <a href="{% url 'jobs' %}" class="btn btn-primary">سجل طلب توظيف</a>
          </div>
        </div>
      </div>
      </div>
    
  </div>
  </div>
</section>
{% endblock %}
