{% extends "system/layout.html" %}

{% block title %}
الصفحة الرئيسية
{% endblock %}

{% block main %}
<section id="indexsection">
<div class="container">
<div dir="rtl" class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">تسجيل حالة إنسانية جديدة</h5>
            <p class="card-text">من هنا يمكنك تسجيل حالة إنسانية او شكوى جديدة</p>
            <a href="/newcase" class="btn btn-primary">سجل الحالة</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">تقديم طلب توظيف</h5>
            <p class="card-text">من هنا يمكنك تسجيل معلومات الباحثين عن وظائف</p>
            <a href="/jobs" class="btn btn-primary">سجل طلب توظيف</a>
          </div>
        </div>
      </div>
      </div>
      <div dir="rtl" class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">إستعلام</h5>
            <p class="card-text">من هنا يمكنك الإستعلام عن الشكاوى وحالات التوظيف</p>
            <a href="/history" class="btn btn-primary">إستعلام الأن</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"> طباعة بيان حالة </h5>
            <p class="card-text">من هنا يمكنك طباعة بيان حالة</p>
            <a href="#" class="btn btn-primary">طباعة بيان حالة </a>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
</section>
{% endblock %}
