{% extends "inhouse/layout.html" %}

{% block title %}
     تسجيل الدخول
{% endblock %}

{% block main %}

        {% if message %}
            <div>{{message}}</div>
            <br>
        {% endif %}            
    <form dir="rtl" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="اسم المستخدم" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="كلمة المرور" type="password">
        </div>
        <button class="btn btn-primary" value="Login" type="submit">دخول</button>
    </form>
{% endblock %}
