{% extends "inhouse/layout.html" %}

{% block title %}
إستعلام
{% endblock %}


{% block main %}

{% if cases %}

<h5>شكاوى او حالات انسانية مسندة إلي</h5>
<br><br>
<div dir="rtl" class="contanier">
    <div class="row justify-content-center">

        {% for case in cases %}
        {% if case.caseStatus == 'ongoing' or case.caseStatus == 'new' %}
        <br><br>
        <div class="col-12 col">
            <h5>{{case.caseTitle}}</h5>
            <div class="newcaseform card familyinfocard">
            <div class="d-inline">تاريخ المشكلة: {{case.caseDate}}</div>
            <p class="newcaseSize text-right">
              {{ case.caseDetails|linebreaksbr }}              
            </p>
            <div class="row">
              <div class="col-12 col text-left">
                <p> كود الطلب : {{case.caseCode}}</p>
                <a class="removewhenprint" href="{% url 'case' case.caseCode %}">الإطلاع على المشكلة</a>
              </div>
            </div>
        </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>
{% else %}
<h5>لا يوجد حالات مسندة إليك</h5>
{% endif %}


{% endblock %}
