
      {% extends "inhouse/layout.html" %}

      {% block title %}
      وظائف مسندة إلي
      {% endblock %}
      
      
      {% block main %}
      
      {% if cases %}
      
      <h5>شكاوى او حالات انسانية مسندة إلي</h5>
      <br><br>
      <div dir="rtl" class="contanier">
          <div class="row justify-content-center">
      
              {% for case in cases %}
              {% if case.jobStatus == 'ongoing' or case.jobStatus == 'new' %}
              <br><br>
              <div class="card myjobcard">
                <h5 class="card-header">{{case.jobEduMajor}}</h5>
                <div class="card-body">
                  <h6 dir="rtl" class="card-title">تاريخ المشكلة: {{case.jobDate}}</h6>
                  <br>
                  <p class="card-text">{{ case.jobExtraDetails|linebreaksbr }}</p>
                  <br>
                  <p class="text-left"> كود الطلب : {{case.jobCode}}</p>
                  <a href="{% url 'case' case.jobCode %}" class="btn btn-primary">إطلع على تفاصيل المشكلة</a>
                </div>
              </div>
      
      
              {% endif %}
              {% endfor %}
      
          </div>
      </div>
      {% else %}
      <h5>لا يوجد حالات مسندة إليك</h5>
      {% endif %}
      
      
      {% endblock %}
      