{% extends "inhouse/layout.html" %}

{% block title %}
إستعلام
{% endblock %}


{% block main %}

{% if cases %}

<h5>شكاوى او حالات انسانية جاري العمل عليها</h5>



        {% for case in cases.object_list %}
        {% if case.caseStatus == 'ongoing' %}
        <br><br>
        <div class="card">
            <h5 class="card-header">{{case.caseTitle}}</h5>
            <div class="card-body">
              <h6 dir="rtl" class="card-title">تاريخ المشكلة: {{case.caseDate}}</h6>
              <br>
              <h5 class="card-text">{{ case.caseDetails|linebreaksbr }}</h5>
              <br>
              <p class="text-left"> كود الطلب : {{case.caseCode}}</p>
              <a href="{% url 'case' case.caseCode %}" class="btn btn-primary">إطلع على تفاصيل المشكلة</a>
            </div>
          </div>

        
        {% endif %}
        {% endfor %}

{% else %}
<h5>لا يوجد حالات جاري العمل عليها</h5>
{% endif %}

<br>
<nav aria-label="Page navigation example ">
    <ul dir="rtl" class="pagination justify-content-center">
       {% if cases.has_previous %} 
      <li class="page-item"><a class="page-link" href="?page={{ cases.previous_page_number}}">الصفحة السابقة</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link disabled" aria-disabled="true" href="#">الصفحة السابقة</a></li>
      {% endif %}
      {% for pg in cases.paginator.page_range %}
      {% if cases.number == pg %}
      <li class="page-item active"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
      {% endif %}
      {% endfor %}
      {% if cases.has_next %} 
      <li class="page-item"><a class="page-link" href="?page={{ cases.next_page_number}}">الصفحة التالية</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link disabled" aria-disabled="true" href="#">الصفحة التالية</a></li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
