{% extends "inhouse/layout.html" %}

{% block title %}
إستعلام
{% endblock %}


{% block main %}
<h3  class="removewhenprint">أبحث عن شخص آخر</h3>
<form class="removewhenprint" action="/history" method="post">
  <div class="form-group newcaseform" dir="rtl">
      <div class="row justify-content-center">
          <div class="col-sm-6">
    <input class="form-control" name="nationalid" id="exampleFormControlInput1" placeholder="ادخل الرقم القومي او رقم الهاتف او الاسم">
        <input id="newcaseId" type="submit" class="btn btn-primary" value="إستعلم">
        </div>
     </div>
  </div>
</form>
  <br><br><br>

<h3 class="text-center">المعلومات الشخصية</h3> <br>
<div dir="rtl" class="contanier  newcaseform card familyinfocard">
    <div class="row">
        <div class="col-12 col-md-4">
        <h6>الأسم: {{personInfo.personName}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>رقم الهاتف: {{personInfo.personPhoneNum}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>الرقم القومي: {{personInfo.nationalId}}</h6>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-12 col-md-4">
        <h6>مكان الإصدار : {{personInfo.idDistrict}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>تاريخ إصدارها : {{personInfo.nationaldExpiryDate}}</h6>
        </div>
        <div class="col-12 col-md-4">
        <h6> العنوان : {{personInfo.personAddress}}</h6>
        </div>
    </div>
</div>

<br><br><br>

<h3 class="text-center">معلومات العائلة</h3> <br>
<table dir="rtl" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">الاسم</th>
      <th scope="col">السن</th>
      <th scope="col">العلاقة</th>
      <th scope="col">الحالة الاجتماعية</th>
      <th scope="col">الحالة الصحية</th>
      <th scope="col">الحالة الثقافية</th>
      <th scope="col">المهنة</th>
      <th scope="col">الراتب </th>


    </tr>
  </thead>
  <tbody>
    {% for member in familiyInfo %}
    <tr>
      <th scope="row">{{member.individualName}}</th>
      <td>{{member.individualAge}}</td>
      <td>{{member.individualRole}}</td>
      <td>{{member.individualSocialState}}</td>
      <td>{{member.individualHealthState}}</td>
      <td>{{member.individualEduLevel}}</td>
      <td>{{member.individualJob}}</td>
      <td>{{member.individualSalary}}</td>

    </tr>
    {% endfor %}



    </div>
  </tbody>
</table>


{% if cases %}
<br><br>
<h5>شكاوى او حالات انسانية</h5>
<div dir="rtl" class="contanier">
    <div class="row justify-content-center">

        {% for case in cases %}
        <div class="col-12 col">
            <div class="newcaseform card familyinfocard">
            <div class="d-inline">تاريخ المشكلة: {{case.caseDate}}</div>
            <p class="newcaseSize">{{case.caseDetails}}</p>
        </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endif %}


{% if jobs %}
<br><br>
<h5>طلبات التوظيف</h5>
<div dir="rtl" class="contanier">
    <div class="row justify-content-center">

        {% for request in jobs %}
        <div class="col-12 col">
            <div class="newcaseform card familyinfocard">
            <p>المؤهل : {{request.jobEduMajor}}</p>
            <p class="newcaseSize"> {{request.jobExtraDetails}}</p>
        </div>
        </div>
        {% endfor %} 

    </div>
</div>
{% endif %}

<button class="removewhenprint" onclick="window.print()">طباعة الصفحة</button>

{% endblock %}
