{% extends "inhouse/layout.html" %}

{% block title %}
إستعلام
{% endblock %}


{% block main %}
<h3  class="removewhenprint">أبحث عن شخص آخر</h3>
<form class="removewhenprint" action="{% url 'query' %}" method="post">
  {% csrf_token %} 
  <div class="form-group newcaseform" dir="rtl">
    
      <div class="row justify-content-center">
          <div class="col-sm-6">
    <input class="form-control" name="nationalid" id="exampleFormControlInput1" placeholder="ادخل الرقم القومي او كود الطلب ">
        <input id="newcaseId" type="submit" class="btn btn-primary" value="إستعلم">
        </div>
     </div>
  </div>
</form>
  <br><br><br>

<h3 class="text-center">المعلومات الشخصية</h3> <br>
<div dir="rtl" class="contanier  newcaseform card familyinfocard">
    <div class="row">
        <div class="col-12 col-md-4">
        <h6>الأسم: {{person.personName}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>رقم الهاتف: {{person.personPhoneNum}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>الرقم القومي: {{person.nationalId}}</h6>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-12 col-md-4">
        <h6>مكان الإصدار : {{person.idDistrict}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>تاريخ إصدارها : {{person.nationaldExpiryDate}}</h6>
        </div>
        <div class="col-12 col-md-4">
        <h6> العنوان : {{person.personAddress}}</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-4">
        <h6> الحالة الإجتماعية : {{person.socialState}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>الحالة الصحية  : {{person.healthState}}</h6>
        </div>
        <div class="col-12 col-md-4">
        <h6> العمر : {{person.age}}</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-4">
        <h6> الوظيفة  : {{person.personJob}}</h6>
        </div>

        <div class="col-12 col-md-4">
        <h6>الراتب   : {{person.personSalary}} جنيه</h6>
        </div>
        <div class="col-12 col-md-4">
        <h6> المستوى التعليمي : {{person.personEducationLevel}}</h6>
        </div>
    </div>
</div>

<br><br><br>
{% if family %}
<h3 class="text-center">معلومات العائلة</h3> <br>
<table dir="rtl" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">الاسم</th>
      <th scope="col">السن</th>
      <th scope="col">العلاقة</th>
      <th scope="col">الحالة الاجتماعية</th>
      <th scope="col">الحالة الصحية</th>
      <th scope="col">الحالة الثقافية</th>
      <th scope="col">المهنة</th>
      <th scope="col">الراتب </th>


    </tr>
  </thead>
  <tbody>
    {% for member in family %}
    <tr>
      <th scope="row">{{member.individualName}}</th>
      <td>{{member.individualAge}}</td>
      <td>{{member.individualRole}}</td>
      <td>{{member.individualSocialState}}</td>
      <td>{{member.individualHealthState}}</td>
      <td>{{member.individualEduLevel}}</td>
      <td>{{member.individualJob}}</td>
      <td>{{member.individualSalary}}</td>

    </tr>
    {% endfor %}



    </div>
  </tbody>
</table>
{% endif %}

{% if type == "case" %}
<br><br>
<h5>{{case.caseTitle}}</h5>
<div dir="rtl" class="contanier">
    <div class="row justify-content-center">

       
        <div class="col-12 col">
            <div class="newcaseform card familyinfocard">
            <div class="d-inline">تاريخ المشكلة: {{case.caseDate}}</div>
            <br>
            <span class="casestatus font-weight-bold">
              {% if case.caseStatus == 'new'%}
                جديدة
                {% elif case.caseStatus == 'ongoing' %}
                جاري العمل عليها
                {% else %}
                مغلقة
                {% endif %}
            </span>
            <p class="newcaseSize text-right">
              {{ case.caseDetails|linebreaksbr }}              

            </p>
            <div class="row">
              <div class="col-6 col text-right">
                <p > المسؤول عن الطلب : {{case.caseResponsible.first_name}} {{case.caseResponsible.last_name}} (<a data-toggle="modal" data-target="#exampleModal" href="#">تغير المسؤول عن الحالة</a>)</p>
              </div>
              <div class="col-6 col text-left">
                <p> كود الطلب : {{case.caseCode}}</p>
              </div>
            </div>
            {% if file %}
            <a  target="_blank" class="removewhenprint" href="../media/{{file.name}}">الإطلاع على الملفات المرفقة </a>
            {% endif %}
            
        </div>
        </div>


    </div>
</div>
{% if case.caseStatus == 'ongoing' or case.caseStatus == 'new' %}
<form  action="{% url 'close' %}" method="post">
  {% csrf_token %} 
<button type="submit" class="removewhenprint btn btn-danger"> إغلاق الطلب</button>
{% if type == "case" %}
<input class="d-none" name="caseCodeforchange" value="{{case.caseCode}}"></input>
{% elif type == "job" %}
<input class="d-none" name="caseCodeforchange" value="{{case.jobCode}}"></input>
{% endif %}
</form>
{% endif %}


{% elif type == "job" %}
<br><br>
<h5>طلب التوظيف</h5>
<div dir="rtl" class="contanier">
    <div class="row justify-content-center">

        <div class="col-12 col">
            <div class="newcaseform card familyinfocard">
              <div class="d-inline">تاريخ الطلب: {{case.jobDate}}</div>
              <br>
              <span class="casestatus font-weight-bold">
                {% if case.jobStatus == 'new'%}
                جديدة
                {% elif case.jobStatus == 'ongoing' %}
                جاري العمل عليها
                {% else %}
                مغلقة
                {% endif %}
              </span>
              <br>
              <div class="row">
              <div class="col-6 col">
                <p >الجامعة / المعهد : {{case.jobUniversity}}</p>
              </div>
              <div class="col-6 col">
                <p>القسم والتخصص : {{case.jobEduMajor}}</p>
              </div>
            </div>

            <p class="newcaseSize text-right">
              {{ case.jobExtraDetails|linebreaksbr }}              
              </p>
              <div class="row">
                <div class="col-6 col text-right">
                  <p > المسؤول عن الطلب : {{case.JobResponsible.first_name}} {{case.JobResponsible.last_name}} <a  class="removewhenprint" data-toggle="modal" data-target="#exampleModal" href="#">(تغير المسؤول عن الحالة)</a></p>
                </div>
                <div class="col-6 col text-left">
                  <p> كود الطلب : {{case.jobCode}}</p>
                </div>
              </div>
              {% if file %}
              <a target="_blank" class="removewhenprint" href="../media/{{file.name}}">الإطلاع على الملفات المرفقة</a>
              {% endif %}


        </div>
        </div>

    </div>
</div>
{% if case.jobStatus == 'ongoing' or case.jobStatus == 'new' %}
<form  action="{% url 'close' %}" method="post">
  {% csrf_token %} 
<button type="submit" class="removewhenprint btn btn-danger"> إغلاق الطلب</button>
{% if type == "case" %}
<input class="d-none" name="caseCodeforchange" value="{{case.caseCode}}"></input>
{% elif type == "job" %}
<input class="d-none" name="caseCodeforchange" value="{{case.jobCode}}"></input>
{% endif %}
</form>
{% endif %}
{% endif %}

{% if updates %}
<br><br>
{% for update in updates %}
<div dir="rtl" class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6 col text-right">
        <p >كاتب التحديث : {{update.CommentWriter.first_name}} {{update.CommentWriter.last_name}} </p>
      </div>
      <div class="col-6 col text-left">
        <p> التاريخ : {{update.CommentDate}}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{ update.CommentText|linebreaksbr }}
    </h5>
  </div>
</div>
<br><br>
{% endfor %}
{% endif %}
<br>

<!-- Adding A comment -->
<button type="button" class="btn btn-primary removewhenprint" data-toggle="modal" data-target=".bd-example-modal-lg">إضافة تحديث للحالة</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="card" dir="rtl" action="{% url 'comment' %}" method="post">
        {% csrf_token %} 
        <div class="card-header">
          <h5>إضافة تحديث للحالة</h5>
        </div>
        <br>
          <textarea name="addedcomment"dir="rtl" style="min-height: 200px" class="form-control" id="exampleFormControlTextarea1"></textarea>
          <br>
 
          {% if type == "case" %}
          <input class="d-none" name="caseCodeforchange" value="{{case.caseCode}}"></input>
          {% elif type == "job" %}
          <input class="d-none" name="caseCodeforchange" value="{{case.jobCode}}"></input>
          {% endif %}
        <br><br>

        <div dir="rtl" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
          <button type="submit" class="btn btn-primary">حفظ</button>
        </div>
    </form>
    </div>
  </div>
</div>
<!-- Ending Adding A comment -->

<br><br><br>
<button class="removewhenprint" onclick="window.print()">طباعة الصفحة</button>



<!-- Modal -->
<div dir="rtl" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div dir="rtl" class="modal-dialog" role="document">
    <div dir="rtl" class="modal-content">
      <div dir="rtl" class="modal-header">
        <h5 class="modal-title text-center " id="exampleModalLabel">قم بإختيار الشخص المسؤول عن الحالة</h5>
    
      </div>
      <div class="modal-body">
        <!--Changing the responsible-->
        <form dir="rtl" action="{% url 'changer' %}" method="post">
          {% csrf_token %}
          <select dir="rtl" name="userChanger" id="">
              {% for user in users %}
                  <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
           
                 
              {% endfor %}
          </select>
          {% if type == "case" %}
          <input class="d-none" name="caseCodeforchange" value="{{case.caseCode}}"></input>
          {% elif type == "job" %}
          <input class="d-none" name="caseCodeforchange" value="{{case.jobCode}}"></input>
          {% endif %}
          <br><br>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            <button type="submit" class="btn btn-primary">حفظ</button>
          </div>
      </form>
        <!--Ending Changing the responsible-->
      

    
      
      </div>
     
    </div>
  </div>
</div>

{% endblock %}
